
div#tbl-container {
width: 775px;
height: 175px;
overflow: auto;
}



div#tbl-container table th {
width: 100px;
}

div#pub-container {
width:775px;
height: 175px;
overflow: auto;
}



div#pub-container table th {
width: 100px;
}

div#pub-container thead th, thead th.locked{
font-size: 14px;
font-weight: bold;
text-align: center;
color: white;
border-right: 1px solid silver;
position:relative;
display: block;
cursor: default;
top:0px;
}

thead th, thead th.locked	{
font-size: 14px;
font-weight: bold;
text-align: center;
color: white;
border-right: 1px solid silver;
position:relative;
display: block;
cursor: default;
}


thead th {
top: expression(document.getElementById("tbl-container").scrollTop-2); /* IE5+ only */
z-index: 20;
}

div#pub-container thead th {
top: expression(document.getElementById("pub-container").scrollTop-2); /* IE5+ only */
z-index: 20;
}
thead th.locked {z-index: 30;}

td.locked,  th.locked{
font-weight: bold;
border-right: 1px solid silver;
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /* IE5+ only */
position: relative;
display: block;
z-index: 10;
}

/* Alternate row logic */
tbody.scrollContent td, tbody.tbl tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
tbody.scrollContent tr.alternateRow td.clear
{
	background: #FFF
}





